<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ball Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C49F62E1D2D9F93008A3040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C49F6461D2D9F93008A3040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C49F6511D2D9F93008A3040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
